[Unit]
Description=bg3cmty_discord_bot
After=multi-user.target
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/senshabot/host/SenshaBot
ExecStart=/home/senshabot/host/SenshaBot/senshabot.sh
Restart=always
RestartSec=15
User=senshabot
CPUQuota=%300
CPUWeight=9000
MemoryMax=6G

[Install]
WantedBy=multi-user.target
